<div class="buttons" *ngIf="selectedSequence === 'grinding'">
  <button class="btn--start" (click)="onStartClick()" [disabled]="!allowGrindingStart">Start docierania</button>
  <button class="btn--stop" (click)="onStopClick()" [disabled]="!allowGrindingStop">Stop docierania</button>
</div>

<div class="buttons" *ngIf="selectedSequence === 'testing'">
  <button class="btn--start" (click)="onStartClick()" [disabled]="!allowTestStart">Start testu</button>
  <button class="btn--stop" (click)="onStopClick()" [disabled]="!allowTestStop">Stop testu</button>
</div>
