<div class="modal-content">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal-header">Dodawanie referencji</div>
    <div class="modal-body">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
          <div class="row">
            <label for="first-name">Nazwa referencji </label>
            <input id="first-name" type="text" formControlName="recipeName" />
            <!-- <app-validation-error [control]="form.controls['recipeName']"></app-validation-error> -->
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="close()">Anuluj dodawanie</button>
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Dodaj referencję</button>
    </div>
  </form>
</div>
