/*
***********************************************************************
*** Positioning
***********************************************************************
*/

.left {
    float: left
}

.right {
    float: right
}

// Only for block like <div>
.center {
    margin: 0 auto;
}