<div class="measurements">
  <div class="variable variable--1">
    <div class="variable__name">Obroty zespołu wrzeciona</div>
    <div class="variable__value">10</div>
  </div>

  <div class="variable variable--2">
    <div class="variable__name">Temperatura silnika</div>
    <div class="variable__value">10</div>
  </div>

  <div class="variable variable--3">
    <div class="variable__name">Temperatura góra</div>
    <div class="variable__value">10</div>
  </div>

  <div class="variable variable--4">
    <div class="variable__name">Temperatura dół</div>
    <div class="variable__value">10</div>
  </div>

  <div class="variable variable--5">
    <div class="variable__name">Temperatura otoczenia</div>
    <div class="variable__value">10</div>
  </div>

  <div class="variable variable--6">
    <div class="variable__name">Obroty silnika</div>
    <div class="variable__value">10</div>
  </div>

  <div class="variable variable--7">
    <div class="variable__name">Załączenie pompy on/off</div>
    <div class="variable__value">10</div>
  </div>

  <div class="variable variable--8">
    <div class="variable__name">Potwierdzenie ciśnienia on/off</div>
    <div class="variable__value">10</div>
  </div>

  <div class="variable variable--9">
    <div class="variable__name">Pomiar ciśnienia glikolu on/off</div>
    <div class="variable__value">10</div>
  </div>

  <div class="variable variable--10">
    <div class="variable__name">Wentylacja stanowiska On/Off</div>
    <div class="variable__value">10</div>
  </div>
</div>
