<div class="measurements">
  <div class="variable">
    <div class="variable__name">Obroty wrzeciona</div>
    <div class="variable__value">{{ module.process![0].spindle_velocity }}</div>
    <div class="variable__unit">[obr/min]</div>
  </div>

  <div class="variable">
    <div class="variable__name">Obroty silnika</div>
    <div class="variable__value">{{ module.process![0].motor_velocity }}</div>
    <div class="variable__unit">[obr/min]</div>
  </div>

  <div class="variable">
    <div class="variable__name">Temperatura silnika</div>
    <div class="variable__value">{{ module.process![0].motor_temperature }}</div>
    <div class="variable__unit">[°C]</div>
  </div>

  <div class="variable">
    <div class="variable__name">Temperatura otoczenia</div>
    <div class="variable__value">{{ module.process![0].outside_temperature }}</div>
    <div class="variable__unit">[°C]</div>
  </div>
</div>
