<div class="module">
  <div class="module__info">
    <app-module-info></app-module-info>
  </div>

  <div class="module__recipe">
    <app-module-recipe></app-module-recipe>
  </div>

  <div class="module__sequence">
    <app-module-sequence></app-module-sequence>
  </div>

  <div class="module__imageAlarm" [ngSwitch]="alarmExists">
    <app-module-image *ngSwitchCase="false"></app-module-image>
    <app-module-alarm *ngSwitchCase="true"></app-module-alarm>
  </div>

  <div class="module__buttons">
    <app-module-buttons></app-module-buttons>
  </div>

  <div class="module__measurements">
    <app-module-measurements></app-module-measurements>
  </div>

  <div class="module__chart">
    <app-module-chart></app-module-chart>
  </div>
</div>
