<div class="module">
  <div class="module__info">
    <app-module-info></app-module-info>
  </div>

  <div class="module__recipe">
    <app-module-recipe></app-module-recipe>
  </div>

  <div class="module__sequence">
    <app-module-sequence></app-module-sequence>
  </div>

  <div class="module__image">
    <app-module-image></app-module-image>
  </div>

  <div class="module__measurements">
    <app-module-measurements></app-module-measurements>
  </div>

  <div class="module__chart">
    <app-module-chart></app-module-chart>
  </div>
</div>
