.module {
  width: 100%;
  height: 100%;
  margin: 1%;

  display: grid;
  grid-template-columns: 48.5% 48.5%;
  grid-template-rows: 6% 30% 10% 50%;
  grid-template-areas: "info recipe" "sequence image" "measurements image" "chart chart";
  column-gap: 1%;
  row-gap: 1%;
}

.module__info {
  grid-area: info;
  background-color: rgb(250, 250, 250);
}

.module__recipe {
  grid-area: recipe;
  background-color: rgb(250, 250, 250);
}

.module__sequence {
  grid-area: sequence;
  background-color: rgb(250, 250, 250);
}

.module__image {
  grid-area: image;
  background-color: rgb(250, 250, 250);
}

.module__measurements {
  grid-area: measurements;
  background-color: rgb(250, 250, 250);
}

.module__chart {
  grid-area: chart;
  background-color: rgb(250, 250, 250);
}
