@import "../../../shared/styles/global.scss";

.modal-content {
  margin-top: 5%;
  max-width: none;
  width: 50%;
}

.modal-header {
  background-color: $primary;
  color: $neutralTheLightest;
}

.modal-body {
  font-family: $regularFont;
  font-weight: 0;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
}

.confirmation {
  width: 50%;
  height: 100%;
}
