// GENERAL
@import "./general/positioning.scss";
@import "./general/colors.scss";
@import "./general/fonts.scss";
@import "./general/others.scss";


// COMPONENTS
@import "./components/buttons.scss";
@import "./components/modals.scss";
