<div class="menu">
  <button class="menu__button menu__button--st1" [class.menu__button--selected]="selectedUrl === '/station/module/0'" [routerLink]="'/station/module/0'">ST 1</button>
  <button class="menu__button menu__button--st2" [class.menu__button--selected]="selectedUrl === '/station/module/1'" [routerLink]="'/station/module/1'">ST 2</button>
  <button class="menu__button menu__button--st3" [class.menu__button--selected]="selectedUrl === '/station/module/2'" [routerLink]="'/station/module/2'">ST 3</button>
</div>
/station/module/1
