<div class="sequence">
  <div class="type">
    <button class="type__grinding" [class.type--selected]="selectedSequence == 'grinding'" (click)="selectGrinding()">Docieranie</button>
    <button class="type__test" [class.type--selected]="selectedSequence == 'testing'" (click)="selectTesting()">Testowanie</button>
  </div>

  <div class="parameters">
    <div class="parameters__grinding" *ngIf="selectedSequence === 'grinding'">
      <ag-grid-angular style="width: 100%; height: 100%" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs"> </ag-grid-angular>
    </div>
    <div class="parameters__testing" *ngIf="selectedSequence === 'testing'">
      <input class="testing__min-flow" />
      <input class="testing__max-flow" />
      <input class="testing__min-pressure" />
      <input class="testing__max-pressure" />
      <button class="testing__start-test" (click)="startTesting()">Rozpocznij test</button>
    </div>
  </div>
</div>
